<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomCameraApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9BB4CAB1ED35DB50042F5DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9BB4CC41ED35DB60042F5DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9BB4CCF1ED35DB60042F5DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
